:root {
    --tile-size: 50px; /* default for large screens */
    --color-background: #302e2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 600px) {
    :root {
       --tile-size: calc(90vmin / 8); /* 8 tiles per side, 90% of the smallest viewport side */
    }
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    overflow: hidden;
}

